@import "tailwindcss";

body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #d7d7d7;
}

.flexad{
    @apply flex justify-center items-center
}

.imgad{
    @apply text-center font-bold text-lg
}

.contactad{
    @apply m-5 border-4 border-t-0 border-r-0 h-8 px-3
}